<!-- The article view -->
<section data-ng-controller="Power1sController" data-ng-init="findOne()">
    <a href="/#!/">Home</a>
	<h1 data-ng-bind="power1.id"></h1>
	<!-- Show the editing buttons to the article creator -->
	<div data-ng-show="authentication.user._id == power1.creator._id">
		<a href="/#!/power1s/{{power1._id}}/edit">edit</a>
		<a href="/#!/" data-ng-click="delete();">delete</a>
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bind="power1.created | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="power1.creator.fullName"></em>
	</small>
	<p data-ng-bind="power1.pid"></p>
</section>